html, body {
  background-color: #000;
  padding: 0;
  margin: 0;
  cursor: crosshair;
  overflow: hidden;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
